.container{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border : 1px solid rgba(190, 187, 187, 0.2);
    box-shadow: 5px 5px 20px rgb(133, 132, 132);
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 46px;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 350px;
    flex-grow: 1;
    box-sizing: border-box;
    background-color: #D3D3D3;
    
}




.image{
    height: 240px;}

.image img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }


        .keywords{
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            padding: 20px 10px 0 10px;}
        
            .divkeyword{
                font-size: 14px;
                color: #8e86b5;
                font-weight: 600;
                padding: 5px 10px;
                border: 1px solid rgba(166, 166, 166, 0.399);
                border-radius: 5px;
                box-shadow: 3px 3px 4px rgb(166, 166, 166);
                background-color: white;

            }
    

        .description{
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 20px;
        }

            .title{
                font-size: 20px;
                font-weight: 600;

            }

            .subtitle{
                font-size: 16px;
                font-weight: 400;

    
            }
     

    .link{
        width: 311px;
    text-decoration: none;
    background-color: white;
    border-top: 1px solid #8e86b5;
    background: #D3D3D3;
    padding: 20px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    transition: font-size 0.3s ease, padding 0.3s ease, font-weight 0.3s ease;
    }        
        .link:hover{
            font-size: 20px;
            padding: 17px;
            font-weight: 600;
            background: rgb(248,239,210);
            background: linear-gradient(0deg, rgba(248,239,210,1) 0%, rgba(250,243,222,1) 0%, rgba(255,255,254,1) 50%, rgba(255,255,254,1) 100%, rgba(255,255,254,1) 100%);

        }