@import "../../index.scss";

.portfolio{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 150px 150px 100px 150px;
    background-color:  #1f2039;
    background: linear-gradient(0deg, rgba(195,220,215,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
}

.titl{
        font-size: 40px;
        color:#a5b4fc ;
        font-weight: 800;
        text-align: center;
}

    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 1fr;
        gap: 50px;}

       

