.portfolio{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 150px 150px 100px 150px;
    background-color:  #1f2039;
}

.titl{
        color:#a5b4fc ;  
        text-align: center;
}

    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 1fr;
        gap: 50px;}

       

